/Login/target/
/FiveTimes/target/
/WhileFirstExample/target/
/CalculatorWhile/target/
/MultiTableWhile/target/
/monthShowSwitch/target/
/DataVerify/target/
/optionProduct/target/
/CalculatorEndless/target/
/AcademyProjects1SEM/target/
/MethodFirstProject/target/
/AcademicProjects1SEM/target/
/WorkingWithClasses/target/
